@import "../../sass/main.scss";

.trade-summary-container {
  h3 {
    color: $mainPink;
    font-size: 28px;
    font-weight: 500;
  }

  h4 {
    padding: 0.25rem;
    color: $mainPurple;
    font-size: 24px;
    font-weight: 500;
  }
}

.summary-row {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .amount {
    font-size: 24px;
  }

  .curr {
    font-size: 24px;
  }

  hr {
    width: 80%;
    color: $mainPurple;
    height: 2px;
    padding: 0.25rem;
  }
}
