@import "../../../sass/main.scss";

.date-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  h3 {
    padding: $tablePadding 0.2rem;
    font-size: 22px;
    color: black;
  }
}
