@import "../../sass/main.scss";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg {
  background-color: white;
  padding: 1rem;
  outline: none;
  width: 60%;
  transition: all 0.4s ease;

  h2 {
    color: $mainPink;
    font-weight: 500;
  }

  .button-row {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 920px) {
  .modal-bg {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .modal-bg {
    width: 95%;
  }
}
