@import "../../sass/main.scss";

.history-page {
  padding-top: 10rem;
  padding-left: 25rem;

  .btn {
    margin-top: 4rem;
    width: 20%;
    min-width: 10vw;
  }
  .grid-container {
    padding-top: 4rem;
    width: 60vw;
    min-width: 30vw;

    .grid-row {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-rows: 1fr;
      align-items: center;
      text-align: center;

      .col-heading {
        font-weight: 600;
        color: $mainPink;
        padding: $tablePadding + 0.1rem;
      }

      .col-1 {
        grid-area: 1 / 1 / 2 / 2;
        border: 1px solid $lightGrey;
        min-width: 10vw;
      }
      .col-2 {
        grid-area: 1 / 2 / 2 / 3;
        border: 1px solid $lightGrey;
        min-width: 10vw;
      }
      .col-3 {
        grid-area: 1 / 3 / 2 / 4;
        border: 1px solid $lightGrey;
        min-width: 10vw;
      }
    }
  }
}
