@import "../../../sass/main.scss";

.input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid $lightGrey;
  z-index: 1;

  i {
    text-align: center;
    font-size: 30px;
    width: 30px;
    margin-left: 10px;
    padding: 0.5rem;
    color: $lightGrey;
  }

  input {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: $darkGrey;
    border: none;
    padding: 0.5rem;
  }

  input:focus {
    outline: none;
  }
}
